body {background:url(img/7141836899_10aa089180_b.jpg) repeat-y 0 0 fixed;background-size:100%; min-height:100vh; width;100vw; display:flex; flex-direction:column; justify-content:space-between;}
/*background from https://www.flickr.com/photos/51018933@N08/7141836899 */
footer {display:flex;justify-content:space-around;}
blockquote{margin:0 1em 0 -.5em; text-align:left;font-size: .85rem;}
h1.display-2 {font-family: 'gnutypewriter','serif';font-size:4.3rem;}
h2 {font-family: 'gnutypewriter','serif';font-size: 1.7rem;}
blockquote{font-family: 'DroidSerif', serif;}
.quote-src{text-align:right;}
img {max-width:100%;filter: sepia(100%) saturate(202%) hue-rotate(180deg) blur(2px);opacity: 0.5;}
header, footer a {color:#aaa;}
header a {color:yellow;text-decoration:none;}
footer a {display:block;}
.card-inverse, footer,header {background:rgba(17,17,17,.8);border:solid 1px silver;}
.card {margin-bottom:1em;border-radius:.75rem;}
.card, #pagination img {border-color:rgb(251,235,102);-webkit-box-shadow:0px 0px 5px 3px rgba(251,235,102,.8);-moz-box-shadow:0px 0px 5px 3px rgba(251,235,102,.8);box-shadow:0px 0px 5px 3px rgba(251,235,102,.8);}
.card:hover, #pagination img:hover {-webkit-box-shadow:0px 0px 8px 5px rgba(251,235,102,.95);-moz-box-shadow:0px 0px 8px 5px rgba(251,235,102,.95);box-shadow:0px 0px 8px 5px rgba(251,235,102,.95);}
.card a{color:inherit;}
.card:hover, header:hover, footer:hover {background:#000;}
.card:hover h2 {color:transparent;transition: .2s color linear;}
.card h2 {transition: 1s color linear;}
.card:hover, .card:hover .card-text, footer:hover a, header:hover a{color:#fff;}
header a:hover, footer a:hover footer a:hover {color:#fff;}
.card:hover a, footer a{text-decoration:none;color:inherit;}
.card:hover img {filter: none;opacity: 1;transition: .2s filter linear;}
.card img {transition: 1s filter linear;}
.jumbotron {background:transparent;}
.jumbotron .card, header, footer {border:none;box-shadow:none;-webkit-box-shadow:none;border-radius:0;color:#fff;}
.jumbotron .card p.lead {text-align:justify;}
h1 small {font-weight:inherit;color:grey;}
.card-text {text-align:justify;margin:0 .5em 1em;}
.licence {margin:auto;text-align:center;clear:both;font-size:80%;line-height:1.1em;}
.licence img {filter:none;opacity:1;}
footer {display:flex;flex-direction:column;margin-top:1em;}
.footermenu {display: flex; justify-content: space-around;border-bottom:1px solid rgba(128, 128, 128, 0.3);margin-bottom:.5em;}
.card-block > * {max-width:33em;margin-left:auto;margin-right:auto;}
.card.unflex {max-width:40em;margin:auto;}
.card.unflex img.card-img-top {width:100%;margin:0 1em 1em 0;}
div.footnotes {margin-top:25vw;}
#pagination a.push-right {float:right;}
#pagination img {filter:none;opacity:1;background:#fff;padding:.5em;}
#pagination img:hover {filter:invert(100%);background:#fff;}
#pagination span {display: inline-block;height: 2.7rem;width: 4rem;padding: .5rem;font-size: 120%;font-weight: bold;margin:0 .5em;}
.lead .btn.btn-outline-warning {clear:both;float:right;margin-bottom:1em;}
.reading-time {float:right;clear:both;}
.card-column .card-block a {text-decoration:underline;color:blue;}
.card-column .card-block:hover a {text-decoration:underline;color:lightblue;}
.card-block hr{width:0;margin-bottom:3em;}
.card-block hr::before{content:"*";font-size:200%;color:#292b2c;}
.card-block:hover hr::before{color:#fff;}
.legalImgTable td,.legalImgTable th {padding:.5em;}
.legalImgTable tr:nth-child(even) {background:silver;}
.card-block:hover .legalImgTable tr:nth-child(even) {background:grey;}
.footermenu {display:flex;flex-direction:column;}
.footermenu div {margin:auto;display:flex;}
.social img {width:1em;filter:invert(100%);opacity:1;}
.social img:hover {filter:invert(0%);background-color:yellow;}
.card-block {display: flex;flex-direction: column;justify-content: space-between;}
.card-block .lead {text-align: right;width: 100%;}
.lead .btn.btn-outline-warning, p.lead {margin-bottom:0;}
.card:hover .lead .btn.btn-outline-warning{-webkit-box-shadow: 0px 0px 8px 5px rgba(251,235,102,.95);-moz-box-shadow: 0px 0px 8px 5px rgba(251,235,102,.95);box-shadow: 0px 0px 8px 5px rgba(251,235,102,.95);}


@media screen and (min-width: 1024px) {
	#pagination span {display: block;position: fixed;top: 50vh;}
	#pagination span.firstPage {margin-left:-11.5rem;}
	#pagination span.previousPage {margin-left:-7.5rem;}
	#pagination span.nextPage {margin-left:3em;}
	#pagination span.lastPage {margin-left:6em;	}
}
@media print {
	body {background:none;display:block;min-height:unset;}
	header.container,.jumbotron .lead,.card-img-top,#pagination,.footermenu {display:none;}
	.card-block p {display:block !important;}
}
