@import 'fonts';

/*****************/
/** REAL SECTION */
/*****************/

/** Variables */
$goldNumber: 1.6180339887;
$reverseGoldNumber: 1/$goldNumber;
$firstReadingWidth: 33em;
$secondReadingWidth: $firstReadingWidth/$goldNumber;
$readingPadding: 1em/$goldNumber;
$readingMargin: $readingPadding;
$articleWidth: $firstReadingWidth+2*$readingPadding+2*$readingMargin;
$asideWidth: $articleWidth/$goldNumber;
$textColor: #110;
$backgroundColor: rgba(255, 255, 250, 0.90);

$mainFont: "droidserif";
$typeWritterFont: "gnutypewriterstandard";


/** Typo */
h1,h2,h3,h4,h5,h6,.capitalize {text-transform: capitalize;font-family:$typeWritterFont;}
h6 {font-size: 1.2rem;}
h5 {font-size: 1.4rem;}
h4 {font-size: 1.6rem;}
h3 {font-size: 1.8rem;}
h2,#motto {font-size: 1.7rem;}
h1 {font-size: 2.2rem;}
a {text-decoration: none;}
img {max-width:100%;}
hr {clear:both;color:transparent;border:none;margin:0;}
hr::before {content:"-------------------------------------------------------";font-family:$typeWritterFont;color:$textColor;}
section article > * {max-width:$firstReadingWidth;text-align: justify;}
/*aside div {max-width:$secondReadingWidth;}*/
section article > *, aside > div {margin: $readingMargin;padding: $readingPadding;}
aside {text-align:right;}
.licence {font-size:1em/$goldNumber;}
article hr{
  &::before {content: "*";display: block;font-family: $mainFont;margin: auto;width: 0;}
  &.big::before {content: "* *\00a0\00a0\00a0\00a0\00a0\00a0\00a0*";display:block;font-family: $mainFont;margin: auto;width:3em;text-align:center;line-height:1em*$goldNumber;}
}

/** Layout */
#whole {margin: auto;max-width: $articleWidth+$asideWidth+1.3em;background: $backgroundColor url('../theme/img/photoId-final2.png') no-repeat 730px 55px;}
#mainbody {display: flex;flex-wrap: wrap;justify-content: space-between;min-height:300px; }
body.post section,nav {max-width: $articleWidth;}
aside {max-width: $asideWidth;display: flex;flex-direction: column;justify-content: space-between;}
#tuile2 {position:fixed;}
#tuile2 .social {float:right;}
#logo {max-width: $asideWidth;}
#navAndMotto {display:flex;justify-content:space-between;}
#motto {float:right;}
#postMeta {margin: 1em 0 2em;}
article img {
  float:right;margin:1em*$reverseGoldNumber;
  &.large {width:100%;float:none;}
}
#tuile1 div.post-meta {margin:2em 0;}
#prevsuiv {
  display:flex;
  justify-content: space-between;
  div {margin:0 1em;}
}
footer {padding:0 $readingPadding;}
section > hr {padding: $readingPadding;}

/** Décorations */
body {font-family:$mainFont;background: $textColor url("../theme/img/photoId-final.png") no-repeat fixed center center / cover }
header {padding:$readingPadding;}
header,aside {font-family:$typeWritterFont;}

/** Effects */
@media screen {
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  .fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:.2s;
    -moz-animation-duration:.2s;
    animation-duration:.2s;
  }
}

/** Other medias */
@media print {
  nav,aside,footer,section > hr{display:none;}
  #mainbody{display:block;}
  body.home #tuile1{display:none;}
  a:after{content:" (" attr(href) ") ";}
}

/** Adaptation for home */
body.home {
  section {width: 98%;}
  #tuile1 {float:right;}
  ul.post-list {
    list-style: outside none none;
    h2 {margin-bottom: 0;}
    h2,p {max-width: 33rem;}
    p{text-align:justify;}
    p.post-type{margin-top:0;font-family:$typeWritterFont;text-transform:capitalize;}
    span.post-meta{clear:both;float:right;font-family:$typeWritterFont;text-align: right;}
  }
}

/** Little screens */
@media (max-width:768px) {
	span.post-meta{display:none;}
  body.home #tuile1{
    float:none;
    div.social{text-align:center;}
  }
}

/** More for publications */
div.publications {
  margin:auto;width:90%;
  div.publicationmonth h2 {clear:both;background:$textColor;color:$backgroundColor;transform:rotate(-1deg);padding-left:1em;}
  div.publicationmonth a {color:$backgroundColor;}
  div.publicationmonth a:hover {text-decoration:underline;}
  ul.post-list {
    list-style:none;padding:0;
    li:nth-child(even) div.publicationmonth h2 {transform:rotate(1deg);padding-right:1em;text-align:right;}
    > li {
      padding-top:1rem;clear:both;
      img {float:left;margin-right: 2rem;transform:rotate(-3deg);box-shadow: -8px 6px 24px 11px gray;}
      > ul {
        list-style:none;padding:0;font-family:$typeWritterFont;font-size:120%;
        > li {
          margin-top:1em;
          > ul {font-family:$mainFont;font-size:80%;}
        }
        > li:nth-child(even) img {float:right;transform:rotate(3deg);box-shadow: 8px -6px 24px 11px gray;}
      }
    }
    > li:nth-child(even) {
      img {float:right;margin-left: 2rem;transform:rotate(3deg);box-shadow: 8px -6px 24px 11px gray;}
      > ul > li:nth-child(even) img {float:left;transform:rotate(-3deg);box-shadow: -8px 6px 24px 11px gray;}
    }
  }
}
