<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} > {{site.title}}</title>
	<meta name="description" content="Le site officiel de Stéphane Mourey">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="http://stephanemourey.fr/res/bootstrap.min.css">
	<link rel="stylesheet" href="http://stephanemourey.fr/res/webfonts/droidserif_regular_macroman/stylesheet.css">
	<link rel="stylesheet" href="http://stephanemourey.fr/res/webfonts/gnutypewriter/stylesheet.css">
	<script src="http://stephanemourey.fr/res/jquery-3.2.1.min.js"></script>
	<script src="http://stephanemourey.fr/res/tether.min.js"></script>
	<script src="http://stephanemourey.fr/res/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://stephanemourey.fr/res/main.css">
</head>
<body>
	{{ content }}
</body>
</html>
