---
layout: default
---

<div class="card-columns">
    {% for post in site.posts %}
			<div class="card text-center card-inverse">
				<a href="{{ post.url | relative_url }}" title="Lire">
					{% if post.img %}
						<img class="card-img-top" src="{{ post.img }}"{% if post.imgalt %} alt="{{ post.imgalt }}"{% endif %}>
					{% endif %}
					<div class="card-block">
						<h2 class="card-title">{{ post.title }}</h2>
						<p class="card-text">{{ post.description }}</p>
					</div>
				</a>
			</div>
    {% endfor %}
</div>
