---
layout: page
---

<h3>Sources du site</h3>
<p>Les sources du site sont disponibles sur GitHub sous licence AGPLv3. Cette licence ne s'applique pas au contenu textuel.</p>

<h3>Textes</h3>
<p>Les textes proposés sur ce site sont diffusés sous licence Creativ Commons By-Nc-Sa.</p>

<h3>Images globales</h3>
<p>Les images utilisées sur ce site sont réputées soit du domaine public, soit diffusées sur Internet par leur auteur sous une licence autorisant au moins la réutilisation non commerciale et la modification.</p>
<p>Toutefois, si une erreur sur ce point était relevée et portée à ma connaissance, je retirerais l'image en question dans les délais les plus brefs.</p>

<h3>Images du sous-domaine</h3>

{{ content }}
