---
layout: page
---
<style>
	.legalImgTable td,.legalImgTable th {padding:.5em;}
	.legalImgTable tr:nth-child(even) {background:silver;}
</style>
<h3>Auteur</h3>
<p>Ce site est le fruit du travail d'un particulier, moi, et ne relève d'aucune activité professionnelle. Il est hébergé par mes soins sur une machine principalement destinée à cela. Un tel dispositif me dispense dès lors de communiquer mes propres informations personnelles sur cette page. Mais qui le souhaitera n'aura pas de difficultés à les trouver ailleurs.</p>

<h3>Cookies</h3>
<p>Il n'est fait aucun usage des cookies sur ce site, pas même de cookies de session pour lesquels aucune mention légale n'est nécessaire.</p>

<h3>Données personnelles</h3>
<p>Aucune donnée personnelle n'est relevée lors de visite sur ce site, autres que celles que pourraient recueillir votre fournisseur d'accès, le mien et d'éventuels autres intermédiaires. Pour ma part, je ne fais aucun usage de services tiers qui pourraient recueillir de telles données. Les seules informations dont je dispose sont celles automatiquement enregistrées par mon serveur web, à savoir les adresses ip d'origine, les heures, les dates et les pages consultées.</p>

<h3>Sources du site</h3>
<p>Les <a href="https://github.com/taophp/stephanemourey.fr">codes sources du site sont disponibles sur GitHub</a> sous <a href="https://www.gnu.org/licenses/agpl-3.0.fr.html">licence AGPLv3</a>. Cette licence ne s'applique pas au contenu textuel.</p>

<h3>Textes</h3>
<p>Les textes proposés sur ce site sont mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>.</p>

<h3>Images</h3>
<p>Les images utilisées sur ce site sont réputées soit du domaine public, soit diffusées sur Internet par leurs auteurs sous une licence autorisant au moins la réutilisation non commerciale et la modification.</p>
<p>Toutefois, si une erreur sur ce point était relevée et <a href="http://stephanemourey.fr/contact.html">portée à ma connaissance</a>, je retirerais l'image en question dans les délais les plus brefs.</p>
<p>L'image de fond a été trouvée sur <a href="https://www.flickr.com/photos/51018933@N08/7141836899">https://www.flickr.com/photos/51018933@N08/7141836899</a>. Il s'agit d'une œuvre de <a href="https://www.flickr.com/photos/51018933@N08/">renee_mcgurk</a> distribuée sous <a href="https://creativecommons.org/licenses/by/2.0/">licence Attribution 2.0 Generic (CC BY 2.0) </a>. Les seules modifications apportées consistent en découpage et redimensionnement.</p>
<p>Pour toutes les images, même si leur licence ne m'y obligeait pas, j'ai tâché d'indiqué la source et l'auteur.</p>
<h4>Images du sous-domaine</h4>
<table class="legalImgTable">
	<tr><th>Page</th><th>Auteur</th><th>Source</th></tr>
{% for post in site.posts %}
	{% if post.img %}
		<tr><td><a href="{{ post.url }}">{{ post.title }}</a></td><td>{% if post.imgAuthor %}{{ post.imgAuthor }}{% endif %}</td><td>{% if post.imgSrc %}<a href="{{ post.imgSrc }}">{{ post.imgSrc }}</a>{% endif %}</td></tr>
	{% endif %}
{% endfor %}
</table>
<h3>Outils</h3>
<p>Ce site a été entièrement réalisé à l'aide de logiciels libres, dont suit une liste non-exhaustive :</p>
<dl>
	<dt><a href="http://jekyllrb.com/">Jekyll</a></dt><dd>Générateur de sites statiques</dd>
</dl>

{{ content }}
