---
layout: default
---

{{ content }}
<div id="pagination"></div>
<script>
	$(document).ready(function(){
		nbPages = Math.ceil($('.card-block > p').length);
		if (nbPages > 10) {
			for (i=1;i<=nbPages;i++){
				$('.card-block').prepend($('<span id="'+i+'"></span>'));
			}
			pager = $('#pagination').paging(nbPages,{
				format: '[<]>', // define how the navigation should look like and in which order onFormat() get's called
				perpage: 10,
				lapping:  0,
				page: location.hash.substr(1) || Cookies.get("current-{{ page.url }}") || 1,
				onSelect: function (page) {
					Cookies.set("current-{{ page.url }}", page);
					location.hash = page;
					$('.card-block > p').css('display', 'none');
					$('.card-block > p').slice(this.slice[0],this.slice[1]).css('display', 'block');
				},
				onFormat: function (type) {
					switch (type) {
					case 'block': // n and c
						return '<a href="#'+this.value+'" >'+this.value+'</a>&nbsp;';
					case 'next': // >
						return '<a href="#'+this.value+'" class="push-right" title="Page suivante"><span class="nextPage"><img src="http://www.free-icons-download.net/images/black-button-on--next-page-of-icons-69807.png" alt="&gt;" class="rounded-circle"></span></a>';
						//http://www.free-icons-download.net/black-button-on-next-page-of-icons-69807/
					case 'prev': // <
						return '<a href="#'+this.value+'" title="Page précédente"><span class="previousPage"><img src="http://www.free-icons-download.net/images/blacks-previous-icon-69487.png" alt="&lt;" class="rounded-circle"></span></a>';
						//http://www.free-icons-download.net/blacks-previous-icon-69487/
					case 'first': // [
						return '<a href="#'+this.value+'" title="Première page"><span class="firstPage">|&laquo;</span></a>';
					case 'last': // ]
						return '<a href="#'+this.value+'" class="push-right title="Dernière page""><span class="lastPage">&raquo;|</span></a>';
					}
				}
			});
			$(window).bind( 'hashchange', function(){pager.setPage(location.hash.substr(1));});
			if (location.hash.substr(1)) {
				pager.setPage(location.hash.substr(1));
			}
		};
	});
</script>
<style>
	#pagination a.push-right {
		float:right;
	}
	#pagination img {
		filter:none;
		opacity:1;
		background:#fff;
	}
		#pagination span {
			display: inline-block;
			height: 2.7rem;
			width: 2rem;
			padding: .5rem;
			font-size: 120%;
			font-weight: bold;
			margin:0 .5em;
		}
	@media screen and (min-width: 1024px) {
		#pagination span {
			display: block;
			position: fixed;
			top: 50vh;
		}
		#pagination span.firstPage {
			margin-left:-8.5rem;
		}
		#pagination span.previousPage {
			margin-left:-5.5rem;
		}
		#pagination span.nextPage {
			margin-left:3em;
		}
		#pagination span.lastPage {
			margin-left:6em;
		}
	}
</style>
